body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: skyblue;
}
#board{
    /* background-color: skyblue; */
    background-image: url('Images/bg.png');
}body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: skyblue;
}

#startScreen {
    margin-top: 100px;
}

#playerName {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

#board {
    display: none;
    background-image: url('Images/bg.png');
    margin: 20px auto;
    display: block;
    border: 2px solid white;
}
